/**
 * Add customer specific color variables here and use them in _colors sass.
 */

/**
	Silkkatie Ravintola
*/

$SilkkatieRavintola-Yellow-100: #FFBE00;
$SilkkatieRavintola-Yellow-65: #FFD264;
$SilkkatieRavintola-Yellow-30: #FFEBB2;
$SilkkatieRavintola-Yellow-15: #FFF5D9;

$SilkkatieRavintola-Black-100: #373737;
$SilkkatieRavintola-Black-75: #666666;
$SilkkatieRavintola-Black-65: #878787;
$SilkkatieRavintola-Black-55: #717171;
$SilkkatieRavintola-Black-50: #999999;
$SilkkatieRavintola-Black-30: #C7C7C7;
$SilkkatieRavintola-Black-15: #E4E4E4;
$SilkkatieRavintola-Black-10: #f9f9f9;

$SilkkatieRavintola-Grey-100: #6B6B6B;

$SilkkatieRavintola-Red-100: #C8000A;
$SilkkatieRavintola-Red-65: #DB5960;
$SilkkatieRavintola-Red-30: #EEB2B5;
$SilkkatieRavintola-Red-15: #F7D9DA;

$SilkkatieRavintola-Blue-100: #027FA3;
$SilkkatieRavintola-Blue-65: #5AACC3;
$SilkkatieRavintola-Blue-30: #B3D8E3;
$SilkkatieRavintola-Blue-15: #D9ECF1;

$SilkkatieRavintola-Burnt-Orange-100: #E88356;
$SilkkatieRavintola-Purple-100: #653bb4;
