<md-content layout="row" layout-align="center center" flex="100" class="navbar-container">
    <div class="container">
        <div layout="row" flex="70" flex-gt-lg="70" flex-md="100" flex-sm="100" flex-xs="100">
            <div hide-xs hide-sm class="navbar-desktop" flex="auto">
                <ul layout="row" layout-align="start center" flex="100">
                    <li flex="none" ui-sref="home" ui-sref-active="active">{{vm.pageText.Etusivu}}</li>
                    <li flex="none" ui-sref="buffet" ui-sref-active="active">{{vm.pageText.Buffet}}</li>
                    <li flex="none" ui-sref="menu" ui-sref-active="active">{{vm.pageText.Ruokalista}}</li>
                    <li flex="none" ui-sref="info" ui-sref-active="active">{{vm.pageText.Tiedotteet}}</li>
                    <li flex="none" ui-sref="contact" ui-sref-active="active">{{vm.pageText.Yhteystiedot}}</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" uib-dropdown>
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" tabindex="-1" uib-dropdown-toggle>FI / EN / 中文<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="vm.languageSelect('Cn')">中文</a></li>
                            <li><a ng-click="vm.languageSelect('Fi')">Suomi</a></li>
                            <li><a ng-click="vm.languageSelect('En')">English</a></li>
                        </ul>
                    </li>
                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </div><!--/.container-fluid -->
</md-content>