@import '../../../styles/components/footer';

.footer {
    color: $footer-color;
    background: $footer-background;
    font-size: $footer-font-size;
    text-align: center;
    min-height: $footer-min-height;
    position: fixed;
    bottom: 0;

    .footer-logo {
        height: $footer-img-height;
        width: $footer-img-width;
        float: left;
        background-size: $footer-background-size;
        background-position: 50% 50%;
    }

    .footer-copyright {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .footer-version {
      @extend .footer-copyright;
      font-size: 16px;
      margin-top: 0;
    }

    @media only screen and (max-width: 960px) {
        .footer-copyright {
            line-height: $footer-min-height;
        }
    }
}
